# Remember to install the following two requirements manually:
# pip install Cython packaging
numpy<=1.26.4
nemo_toolkit[asr]==1.23.0
huggingface_hub==0.22.0
transformers==4.40.2
datasets
torch
torchaudio
librosa
jiwer
parsivar
num2fawords
mutagen
ctc-segmentation
matplotlib
tensorboard
pandas
soundfile
evaluate
accelerate
pyctcdecode
https://github.com/kpu/kenlm/archive/master.zip
gdown
